.display_sec6 {
    /*background-color: salmon;*/
    background-color: white;
    height: 100vh;
    width: 950px;
}
.display_homeSec6 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.text-sec6 {
    /*background-color: aqua;*/
    text-align: center;
    width: 475px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-container-sec6 {
    align-self: center;
}
.titleSec6 {
    /*background-color: blueviolet;*/
    width: 200px;
    color: var(--ocra);
    font-family: 'Shadows Into Light';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 0px;
}
.subTitleSec6 {
    /*background-color: lawngreen;*/
    width: 200px;
    color: var(--nero);
    font-family: 'Secular One';
    font-style: normal;
    font-weight: 400;
}
.fullTextSec6 {
    /*background-color: orange;*/
    width: 400px;
    color: var(--grigiochiaro);
}
.img-sec6-container1 {
    display: flex;
    align-self: center;
}

/*MEDIA*/

@media (max-width: 400px) {
    .display_homeSec6 {
        display: flex;
        flex-direction: column;
        width: 400px;
    }
    .text-sec6 {
        /*background-color: violet;*/
        display: flex;
        justify-content: center;
        width: 400px;
    }
    .titleSec6 {
       /* background-color: brown;*/
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fullTextSec6 {
        /*background-color: bisque;*/
        width: 320px;
        text-align: center;
    }
}