<div class="display_sec6 display_homeSec6">
    <div class="text-container-sec6">
        <div class="text-sec6">
            <h1 class="titleSec6">Culinary</h1>
            <h2 class="subTitleSec6">Delight</h2>
            <p class="fullTextSec6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu tristique neque.
            Nam scelerisque augue eget sapien placerat, quis semper turpis dictum. 
            Integer auctor tincidunt ipsum, sit amet vulputate tortor.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu tristique neque.
            Nam scelerisque augue eget sapien placerat, quis semper turpis dictum. 
            Integer auctor tincidunt ipsum, sit amet vulputate tortor.
            </p>
        </div>
    </div>
    <div class="img-sec6-container2">
        <app-sec6-img></app-sec6-img>
    </div>

</div>
