<div class="display_sec2 display_homesec2">
    <div class="text-container">
     <div class="text-sec2">
        <h1 class="titlesec2 ocra">Discover</h1>
        <h2 class="subtitlesec2 nero">Our Story</h2>
        <p class="fulltextsec2 grigiochiaro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu tristique neque.
            Nam scelerisque augue eget sapien placerat, quis semper turpis dictum. 
            Integer auctor tincidunt ipsum, sit amet vulputate tortor.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu tristique neque.
            Nam scelerisque augue eget sapien placerat, quis semper turpis dictum. 
            Integer auctor tincidunt ipsum, sit amet vulputate tortor. </p>
     </div>
    </div>
    <div class="img-sec2-container1">
     <app-sec2-img></app-sec2-img>
    </div>
</div>
