.display_sec2 {
    background-color: salmon;
    height: 100vh;
    width: 950px;
}
.display_homesec2 {
    display: flex;
    flex-direction: row;
}
.text-sec2 {
    background-color: aqua;
    text-align: center;
    width: 475px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-container {
    align-self: center;
}
.titlesec2 {
    background-color: blueviolet;
    width: 200px;
    color: var(--ocra);
}
.subtitlesec2 {
    background-color: lawngreen;
    width: 200px;
    color: var(--nero);
}
.fulltextsec2 {
    background-color: orange;
    width: 400px;
    color: var(--grigiochiaro);
}
.img-sec2-container1 {
    display: flex;
    align-self: center;
}