.display_sec2 {
    /*background-color: salmon;*/
    background-color: white;
    height: 100vh;
    width: 950px;
}
.display_homesec2 {
    display: flex;
    flex-direction: row;
}
.text-sec2 {
    /*background-color: aqua;*/
    text-align: center;
    width: 475px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-container {
    align-self: center;
}
.titlesec2 {
    /*background-color: blueviolet;*/
    width: 200px;
    color: var(--ocra);
    font-family: 'Shadows Into Light';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 0px;
}
.subtitlesec2 {
    /*background-color: lawngreen;*/
    width: 200px;
    color: var(--nero);
    font-family: 'Secular One';
    font-style: normal;
    font-weight: 400;
}
.fulltextsec2 {
    /*background-color: orange;*/
    width: 400px;
    color: var(--grigiochiaro);
}
.img-sec2-container1 {
    display: flex;
    align-self: center;
}