.sec6-container {
    display: flex;
    justify-content: center;
    /*background-color: aqua;*/
    background-color: white;
}
@media (max-width: 400px) {
    .sec6-container {
        display: flex;
        justify-content: center;
        background-color: aqua;
        /*background-color: white; */
        flex-direction: column;
        width: 400px;
    }
}